# Code files
build/**/*.c
build/**/*.cpp
build/**/*.java
build/**/*.go
build/**/*.rs

# Compiled binaries
*.class
*.jar
*.exe
!inputgen/*/*.exe

# Files for testing
wr.*
cr.*

# Result files
output.txt

# .vscode
.vscode/*
!.vscode/settings.json